<div class="bg-white p-10">
  <h2 class="text-center mb-5">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-5">
        <p><%= f.label :email %></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full" %>
      </div>

      <div class="field mb-5">
        <p>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        </p>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"w-full" %>
      </div>

      <div class="field mb-5">
        <p> <%= f.label :password_confirmation %></p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full" %>
      </div>

      <div class="actions flex justify-around">
        <p><%= f.submit "Sign up" %></p>
        <p><%= render "devise/shared/links" %></p>
      </div>
    <% end %>
</div>