<div class="flex flex-col justify-center items-center">
  <span class="text-red-500"><%= link_to 'Create new task?', new_category_task_path %></span>
  <% if @tasks.empty? %>
    No current tasks
    <% else %>
<table>
  <thead>
    <tr>
      <th>Title</th> 
      <th>Body</th> 
      <th>Priority</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %> </td>
        <td><%= task.content %> </td>
        <td><%= task.priority.strftime("%a, %d %b %Y %I:%M%p") %> </td>
        <td><%= link_to 'Edit', edit_category_task_path(@category, task) %></td>
        <td><%= link_to 'Delete', category_task_path(@category, task), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'are you sure?'} %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
 <div>
    <span class="text-red-500"><%= link_to 'Back to categories', categories_path %></span>
  </div>
</div>

