<%= form_for category, url: url, method: method do |f| %>
  <div class="mb-6">
    <p>
      <label class="form-label inline-block mb-2 text-gray-700"><%= f.label :name, "Category name" %></label>
    <br/>
      <%= f.text_field :name %>
    </p>
  </div>
  <small>
    <% if @category.errors.any? %>
        <% @category.errors.full_messages.each do |message| %>
          <p class="my-5 text-gray-700"><%= message %></p>
        <% end %>
    <% end %>
  </small>
  <button 
    class="px-6 py-2.5 w-full bg-neutral-700 text-white font-medium text-sm leading-tight shadow-md
    hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
    <%= f.submit %>
  </button>
<% end %>