  <% if @categories.empty? %>
    No current category
    <% else %>
<table>
  <thead>
    <tr>
      <th>ID</th> 
      <th>Name</th> 
      <th>Edit</th>
      <th>Read</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %> </td>
        <td><%= category.name %> </td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Read', category_path(category) %></td>
        <td><%= link_to 'Delete', category_path(category), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'are you sure?'} %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create new category?', new_category_path %>