<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="flex flex-col justify-center items-center h-screen w-screen bg-zinc-800">
      <p class="notice text-yellow-500"><%= notice %></p>
      <p class="alert text-red-500 mb-5"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
